AI-Powered Email and Mobile Number Fraud Detection System.json
{
  "name": "AI-Powered Email and Mobile Number Fraud Detection System",
  "nodes": [
    {
      "parameters": {
        "formTitle": "🛡️ AI-Powered Fraud Detection System",
        "formDescription": "Protect your business with real-time fraud detection. Analyze email addresses and phone numbers instantly using advanced AI and threat intelligence.\n\n✓ Real-time email reputation analysis via EmailRep.io\n✓ Advanced phone number risk assessment\n✓ Comprehensive fraud indicators with detailed explanations\n✓ Actionable security recommendations\n✓ Production-ready scoring system",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Email Address",
              "fieldType": "email",
              "placeholder": "user@example.com",
              "requiredField": true
            },
            {
              "fieldLabel": "Phone Number",
              "placeholder": "+1 555-123-4567",
              "requiredField": true
            },
            {
              "fieldLabel": "Company Name (Optional)",
              "placeholder": "Acme Corporation"
            },
            {
              "fieldLabel": "Check Purpose",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "New Customer"
                  },
                  {
                    "option": "Transaction"
                  },
                  {
                    "option": "Account Recovery"
                  },
                  {
                    "option": "Suspicious Activity"
                  },
                  {
                    "option": "General Security Check"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false,
          "buttonLabel": "🔍 Analyze for Fraud Risk",
          "customCss": ":root {\n\t--font-family: 'Inter', 'Segoe UI', -apple-system, BlinkMacSystemFont, sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 14px;\n\t--font-size-label: 13px;\n\t--font-size-input: 15px;\n\t--font-size-header: 28px;\n\t--font-size-subheader: 15px;\n\n\t/* Modern Color Palette */\n\t--color-background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n\t--color-card-bg: rgba(255, 255, 255, 0.95);\n\t--color-card-border: rgba(255, 255, 255, 0.3);\n\t--color-card-shadow: rgba(0, 0, 0, 0.2);\n\t--color-header: #1a202c;\n\t--color-label: #4a5568;\n\t--color-input-border: #e2e8f0;\n\t--color-input-text: #2d3748;\n\t--color-focus-border: #667eea;\n\t--color-submit-btn-bg: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #f56565;\n\t--color-required: #fc8181;\n\t--color-header-subtext: #718096;\n\n\t/* Border Radii */\n\t--border-radius-card: 20px;\n\t--border-radius-input: 12px;\n\t--card-border-radius: 20px;\n\n\t/* Spacing */\n\t--padding-container-top: 40px;\n\t--padding-card: 40px;\n\t--margin-bottom-card: 24px;\n\t--padding-form-input: 16px;\n\t--card-padding: 40px;\n\t--card-margin-bottom: 24px;\n\n\t/* Dimensions */\n\t--container-width: 520px;\n\t--submit-btn-height: 56px;\n\n\t/* Effects */\n\t--box-shadow-card: 0 20px 60px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.2);\n}\n\n/* Animated Gradient Background */\nbody {\n\tbackground: linear-gradient(135deg, #667eea 0%, #764ba2 50%, #f093fb 100%);\n\tbackground-size: 400% 400%;\n\tanimation: gradientShift 15s ease infinite;\n\tmin-height: 100vh;\n\tposition: relative;\n\toverflow-x: hidden;\n}\n\n@keyframes gradientShift {\n\t0% { background-position: 0% 50%; }\n\t50% { background-position: 100% 50%; }\n\t100% { background-position: 0% 50%; }\n}\n\n/* Animated Mesh Background */\nbody::before {\n\tcontent: '';\n\tposition: fixed;\n\ttop: 0;\n\tleft: 0;\n\twidth: 100%;\n\theight: 100%;\n\tbackground-image: \n\t\tradial-gradient(circle at 20% 50%, rgba(120, 119, 198, 0.3) 0%, transparent 50%),\n\t\tradial-gradient(circle at 80% 80%, rgba(252, 70, 107, 0.3) 0%, transparent 50%),\n\t\tradial-gradient(circle at 40% 20%, rgba(99, 179, 237, 0.3) 0%, transparent 50%);\n\tanimation: meshMove 20s ease infinite;\n\tpointer-events: none;\n\tz-index: 0;\n}\n\n@keyframes meshMove {\n\t0%, 100% { opacity: 0.5; transform: scale(1); }\n\t50% { opacity: 0.8; transform: scale(1.1); }\n}\n\n/* Glassmorphic Container */\n.container {\n\tposition: relative;\n\tz-index: 1;\n\tpadding: var(--padding-container-top) 20px;\n}\n\n/* Glassmorphic Card */\n.card {\n\tbackground: rgba(255, 255, 255, 0.15);\n\tbackdrop-filter: blur(20px) saturate(180%);\n\t-webkit-backdrop-filter: blur(20px) saturate(180%);\n\tborder: 1px solid rgba(255, 255, 255, 0.3);\n\tborder-radius: var(--border-radius-card);\n\tbox-shadow: var(--box-shadow-card);\n\tpadding: var(--card-padding);\n\tmargin-bottom: var(--card-margin-bottom);\n\ttransition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);\n\tanimation: cardFadeIn 0.6s ease-out;\n}\n\n@keyframes cardFadeIn {\n\tfrom {\n\t\topacity: 0;\n\t\ttransform: translateY(30px);\n\t}\n\tto {\n\t\topacity: 1;\n\t\ttransform: translateY(0);\n\t}\n}\n\n.card:hover {\n\ttransform: translateY(-5px);\n\tbox-shadow: 0 25px 70px rgba(0, 0, 0, 0.35), 0 0 0 1px rgba(255, 255, 255, 0.3);\n}\n\n/* Header Styling */\n.form-header {\n\ttext-align: center;\n\tmargin-bottom: 32px;\n}\n\n.form-header h1 {\n\tfont-size: var(--font-size-header);\n\tfont-weight: 700;\n\tcolor: #ffffff;\n\tmargin-bottom: 12px;\n\ttext-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);\n\tletter-spacing: -0.5px;\n}\n\n.form-header p {\n\tfont-size: var(--font-size-subheader);\n\tcolor: rgba(255, 255, 255, 0.95);\n\tline-height: 1.6;\n\ttext-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);\n}\n\n/* Form Field Container */\n.form-field {\n\tmargin-bottom: 28px;\n\tposition: relative;\n\tanimation: fieldSlideIn 0.5s ease-out backwards;\n}\n\n.form-field:nth-child(1) { animation-delay: 0.1s; }\n.form-field:nth-child(2) { animation-delay: 0.2s; }\n.form-field:nth-child(3) { animation-delay: 0.3s; }\n.form-field:nth-child(4) { animation-delay: 0.4s; }\n\n@keyframes fieldSlideIn {\n\tfrom {\n\t\topacity: 0;\n\t\ttransform: translateX(-20px);\n\t}\n\tto {\n\t\topacity: 1;\n\t\ttransform: translateX(0);\n\t}\n}\n\n/* Floating Labels */\nlabel {\n\tfont-size: var(--font-size-label);\n\tfont-weight: 600;\n\tcolor: rgba(255, 255, 255, 0.95);\n\tmargin-bottom: 8px;\n\tdisplay: block;\n\ttransition: all 0.3s ease;\n\ttext-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);\n}\n\n/* Input Fields */\ninput[type=\"text\"],\ninput[type=\"email\"],\ninput[type=\"tel\"],\nselect,\ntextarea {\n\twidth: 100%;\n\tpadding: var(--padding-form-input);\n\tfont-size: var(--font-size-input);\n\tcolor: var(--color-input-text);\n\tbackground: rgba(255, 255, 255, 0.95);\n\tborder: 2px solid rgba(255, 255, 255, 0.4);\n\tborder-radius: var(--border-radius-input);\n\ttransition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);\n\tbox-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);\n\toutline: none;\n}\n\ninput::placeholder {\n\tcolor: #a0aec0;\n\topacity: 0.7;\n}\n\n/* Focus State with Glow */\ninput:focus,\nselect:focus,\ntextarea:focus {\n\tborder-color: #ffffff;\n\tbackground: rgba(255, 255, 255, 1);\n\tbox-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2), 0 4px 16px rgba(102, 126, 234, 0.3);\n\ttransform: translateY(-2px);\n}\n\n/* Hover State */\ninput:hover,\nselect:hover,\ntextarea:hover {\n\tborder-color: rgba(255, 255, 255, 0.6);\n\tbox-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);\n}\n\n/* Select Dropdown */\nselect {\n\tcursor: pointer;\n\tappearance: none;\n\tbackground-image: url(\"data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%234a5568' d='M6 9L1 4h10z'/%3E%3C/svg%3E\");\n\tbackground-repeat: no-repeat;\n\tbackground-position: right 16px center;\n\tpadding-right: 40px;\n}\n\n/* Submit Button with Gradient and Glow */\nbutton[type=\"submit\"] {\n\twidth: 100%;\n\theight: var(--submit-btn-height);\n\tbackground: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n\tcolor: var(--color-submit-btn-text);\n\tfont-size: 16px;\n\tfont-weight: 700;\n\tborder: none;\n\tborder-radius: var(--border-radius-input);\n\tcursor: pointer;\n\ttransition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);\n\tbox-shadow: 0 8px 24px rgba(102, 126, 234, 0.4);\n\tposition: relative;\n\toverflow: hidden;\n\tmargin-top: 12px;\n\ttext-transform: uppercase;\n\tletter-spacing: 1px;\n}\n\nbutton[type=\"submit\"]::before {\n\tcontent: '';\n\tposition: absolute;\n\ttop: 0;\n\tleft: -100%;\n\twidth: 100%;\n\theight: 100%;\n\tbackground: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.3), transparent);\n\ttransition: left 0.5s;\n}\n\nbutton[type=\"submit\"]:hover::before {\n\tleft: 100%;\n}\n\nbutton[type=\"submit\"]:hover {\n\ttransform: translateY(-3px);\n\tbox-shadow: 0 12px 32px rgba(102, 126, 234, 0.6), 0 0 20px rgba(102, 126, 234, 0.4);\n}\n\nbutton[type=\"submit\"]:active {\n\ttransform: translateY(-1px);\n\tbox-shadow: 0 6px 16px rgba(102, 126, 234, 0.4);\n}\n\n/* Required Field Indicator */\n.required::after {\n\tcontent: ' *';\n\tcolor: #fc8181;\n\tfont-weight: bold;\n}\n\n/* Error Messages */\n.error {\n\tcolor: var(--color-error);\n\tfont-size: 12px;\n\tmargin-top: 6px;\n\tdisplay: block;\n\tanimation: errorShake 0.4s ease;\n}\n\n@keyframes errorShake {\n\t0%, 100% { transform: translateX(0); }\n\t25% { transform: translateX(-10px); }\n\t75% { transform: translateX(10px); }\n}\n\n/* Responsive Design */\n@media (max-width: 768px) {\n\t.container {\n\t\tpadding: 20px 16px;\n\t}\n\t\n\t.card {\n\t\tpadding: 28px 20px;\n\t}\n\t\n\t.form-header h1 {\n\t\tfont-size: 24px;\n\t}\n\t\n\t.form-header p {\n\t\tfont-size: 13px;\n\t}\n\t\n\tinput[type=\"text\"],\n\tinput[type=\"email\"],\n\tinput[type=\"tel\"],\n\tselect,\n\ttextarea {\n\t\tpadding: 14px;\n\t\tfont-size: 14px;\n\t}\n\t\n\tbutton[type=\"submit\"] {\n\t\theight: 52px;\n\t\tfont-size: 15px;\n\t}\n}\n\n/* Smooth Scrolling */\nhtml {\n\tscroll-behavior: smooth;\n}\n\n/* Custom Scrollbar */\n::-webkit-scrollbar {\n\twidth: 10px;\n}\n\n::-webkit-scrollbar-track {\n\tbackground: rgba(255, 255, 255, 0.1);\n}\n\n::-webkit-scrollbar-thumb {\n\tbackground: rgba(255, 255, 255, 0.3);\n\tborder-radius: 5px;\n}\n\n::-webkit-scrollbar-thumb:hover {\n\tbackground: rgba(255, 255, 255, 0.5);\n}"
        }
      },
      "id": "c20c43cd-9445-455e-a501-a95fba5c1722",
      "name": "Fraud Detection Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -7072,
        1040
      ],
      "webhookId": "5ce5ce9a-2462-45ec-bdde-45063bfae321"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all(); const output = []; for (const item of items) { const data = item.json; let email = (data['Email Address'] || '').trim().toLowerCase(); let phone = (data['Phone Number'] || '').trim(); const company = data['Company Name (Optional)'] || ''; const checkPurpose = data['Check Purpose'] || 'General Security Check'; const emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$/; if (!emailRegex.test(email)) { throw new Error('❌ Invalid email format. Please provide a valid email address (e.g., user@example.com)'); } let hasPlus = phone.startsWith('+'); phone = phone.replace(/[^0-9+]/g, ''); if (!hasPlus && phone.length > 0) { phone = '+' + phone; } const phoneDigits = phone.replace(/\\+/g, ''); if (phoneDigits.length < 7 || phoneDigits.length > 15) { throw new Error('❌ Invalid phone number. Please provide a valid phone in E.164 format with 7-15 digits (e.g., +15551234567)'); } output.push({ json: { email, phone, company, checkPurpose, sanitizedEmail: email, sanitizedPhone: phone, timestamp: new Date().toISOString() } }); } return output;"
      },
      "id": "27bda985-8ed1-4007-b01d-481c849441fe",
      "name": "Sanitize and Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6848,
        1040
      ]
    },
    {
      "parameters": {
        "jsCode": "// Comprehensive Risk Analyzer with EmailRep.io Integration\n// Analyzes email and phone data to calculate fraud risk score\n// Implements production-ready scoring rules with actionable recommendations\n\nconst items = $input.all();\nconst results = [];\n\n// Get sanitized input data from the Sanitize and Validate Input node\nconst sanitizedData = $('Sanitize and Validate Input').first().json;\nconst email = sanitizedData.email || '';\nconst phone = sanitizedData.phone || '';\nconst company = sanitizedData.company || '';\nconst checkPurpose = sanitizedData.checkPurpose || '';\n\nfor (const item of items) {\n  // Get EmailRep API response data from current node input\n  const emailRepData = item.json;\n  \n  // Initialize risk scoring\n  let riskScore = 0;\n  const recommendations = [];\n  \n  // ===== EMAIL REPUTATION ANALYSIS (EmailRep.io) =====\n  let emailRepScore = 0;\n  const emailRepFindings = [];\n  \n  // Check if we have valid EmailRep.io data\n  const hasEmailRepData = emailRepData && (emailRepData.email || emailRepData.reputation || emailRepData.suspicious !== undefined);\n  \n  if (hasEmailRepData) {\n    // Parse EmailRep.io response structure\n    const suspicious = emailRepData.suspicious || false;\n    const disposable = emailRepData.details?.disposable || false;\n    const freeProvider = emailRepData.details?.free_provider || false;\n    const maliciousActivity = emailRepData.details?.malicious_activity || false;\n    const reputation = emailRepData.reputation || 'none';\n    const spamDetected = emailRepData.details?.spam || false;\n    const credentialsLeaked = emailRepData.details?.credentials_leaked || false;\n    const dataBreachDetected = emailRepData.details?.data_breach || false;\n    \n    // Rule: Disposable email domain (+40 points)\n    if (disposable) {\n      emailRepScore += 40;\n      emailRepFindings.push('Disposable email domain detected');\n      recommendations.push('🚫 CRITICAL: Disposable email detected - require permanent email address for account creation');\n    }\n    \n    // Rule: Suspicious flag from EmailRep (+30 points)\n    if (suspicious) {\n      emailRepScore += 30;\n      emailRepFindings.push('Email flagged as suspicious by EmailRep.io');\n      recommendations.push('⚠️ Email has suspicious indicators - verify identity through additional channels (phone, ID verification)');\n    }\n    \n    // Rule: Malicious activity detected (+35 points)\n    if (maliciousActivity) {\n      emailRepScore += 35;\n      emailRepFindings.push('Email associated with malicious activity');\n      recommendations.push('🛑 BLOCK: Malicious activity detected - reject this email immediately and flag for security review');\n    }\n    \n    // Rule: Free provider in business context (+10 points)\n    if (freeProvider) {\n      emailRepFindings.push('Free email provider detected');\n      // Check if this appears to be a business context\n      const businessKeywords = ['business', 'company', 'corp', 'enterprise', 'professional'];\n      const contextData = (company + ' ' + checkPurpose).toLowerCase();\n      const isBusinessContext = businessKeywords.some(keyword => contextData.includes(keyword));\n      \n      if (isBusinessContext) {\n        emailRepScore += 10;\n        emailRepFindings.push('Free email provider used in business context');\n        recommendations.push('📧 Free email in business context - consider requiring corporate domain email for B2B transactions');\n      }\n    }\n    \n    // Rule: Low reputation score (+25 points)\n    if (reputation === 'low') {\n      emailRepScore += 25;\n      emailRepFindings.push('Low reputation score from EmailRep.io');\n      recommendations.push('⚡ Low reputation email - implement enhanced verification (2FA, email confirmation, manual review)');\n    } else if (reputation === 'medium') {\n      emailRepScore += 10;\n      emailRepFindings.push('Medium reputation score from EmailRep.io');\n      recommendations.push('ℹ️ Medium reputation - monitor activity closely for first 30 days');\n    } else if (reputation === 'high') {\n      emailRepFindings.push('High reputation score from EmailRep.io');\n    }\n    \n    // Additional EmailRep indicators (informational)\n    if (spamDetected) {\n      emailRepScore += 15;\n      emailRepFindings.push('Email associated with spam activity');\n      recommendations.push('📬 Spam activity detected - implement CAPTCHA and rate limiting');\n    }\n    \n    if (credentialsLeaked) {\n      emailRepScore += 20;\n      emailRepFindings.push('Email credentials previously leaked in data breach');\n      recommendations.push('🔐 Credentials leaked - require strong password and enable 2FA immediately');\n    }\n    \n    if (dataBreachDetected) {\n      emailRepScore += 15;\n      emailRepFindings.push('Email found in known data breaches');\n      recommendations.push('🛡️ Data breach exposure - recommend password reset and security audit');\n    }\n    \n  } else {\n    // EmailRep API unavailable - note this for transparency\n    emailRepFindings.push('EmailRep.io API data unavailable - using pattern-based analysis only');\n    recommendations.push('ℹ️ External reputation check unavailable - relying on pattern analysis (consider retry or manual review)');\n  }\n  \n  riskScore += emailRepScore;\n  \n  // ===== EMAIL PATTERN ANALYSIS =====\n  let emailPatternScore = 0;\n  const emailPatternFindings = [];\n  \n  if (email) {\n    // Extract username and domain\n    const emailParts = email.split('@');\n    const username = emailParts[0] || '';\n    const domain = emailParts[1] || '';\n    \n    // Rule: Invalid email format (+25 points)\n    if (emailParts.length !== 2 || !username || !domain || !domain.includes('.')) {\n      emailPatternScore += 25;\n      emailPatternFindings.push('Invalid email format structure');\n      recommendations.push('❌ REJECT: Invalid email format - require valid email address (user@domain.com)');\n    } else {\n      // Rule: Disposable domain patterns (+40 points) - backup check if EmailRep missed it\n      const disposableDomains = [\n        'tempmail', 'throwaway', '10minute', 'guerrilla', 'mailinator',\n        'trashmail', 'fakeinbox', 'yopmail', 'temp-mail', 'disposable'\n      ];\n      const domainLower = domain.toLowerCase();\n      if (disposableDomains.some(d => domainLower.includes(d))) {\n        emailPatternScore += 40;\n        emailPatternFindings.push('Disposable domain pattern detected in email address');\n        recommendations.push('🚫 CRITICAL: Disposable domain pattern - block and require permanent email provider');\n      }\n      \n      // Rule: Username contains 8+ digits (+15 points)\n      const digitCount = (username.match(/\\d/g) || []).length;\n      if (digitCount >= 8) {\n        emailPatternScore += 15;\n        emailPatternFindings.push(`Username contains ${digitCount} digits (threshold: ≥8)`);\n        recommendations.push('🔢 Excessive digits in username - suspicious pattern, verify user is legitimate (not bot-generated)');\n      }\n      \n      // Rule: Low vowel ratio (<0.2) in long username (>8 chars) (+15 points)\n      const vowels = (username.match(/[aeiou]/gi) || []).length;\n      const vowelRatio = username.length > 0 ? vowels / username.length : 0;\n      if (vowelRatio < 0.2 && username.length > 8) {\n        emailPatternScore += 15;\n        emailPatternFindings.push(`Low vowel ratio (${(vowelRatio * 100).toFixed(1)}%) in long username (${username.length} chars)`);\n        recommendations.push('🔤 Unusual character pattern - may be randomly generated, implement CAPTCHA or human verification');\n      }\n      \n      // Rule: Very short username (<3 characters) (+15 points)\n      if (username.length < 3) {\n        emailPatternScore += 15;\n        emailPatternFindings.push(`Very short username (${username.length} characters, threshold: <3)`);\n        recommendations.push('📏 Unusually short username - verify legitimacy and check for typosquatting attempts');\n      }\n      \n      // Additional pattern checks\n      // Check for suspicious TLDs\n      const suspiciousTlds = ['.tk', '.ml', '.ga', '.cf', '.gq', '.xyz', '.top'];\n      if (suspiciousTlds.some(tld => domainLower.endsWith(tld))) {\n        emailPatternScore += 10;\n        emailPatternFindings.push('Suspicious top-level domain (TLD) detected');\n        recommendations.push('🌐 Suspicious TLD - commonly used for fraud, implement additional verification');\n      }\n    }\n  }\n  \n  riskScore += emailPatternScore;\n  \n  // ===== PHONE NUMBER ANALYSIS =====\n  let phoneScore = 0;\n  const phoneFindings = [];\n  \n  if (phone) {\n    // Extract digits only for analysis\n    const phoneDigits = phone.replace(/\\D/g, '');\n    \n    // Rule: Invalid phone length (+20 points)\n    // Valid E.164 format: 1-15 digits (excluding the + sign)\n    if (phoneDigits.length < 10 || phoneDigits.length > 15) {\n      phoneScore += 20;\n      phoneFindings.push(`Invalid phone length (${phoneDigits.length} digits, valid range: 10-15)`);\n      recommendations.push('📱 Invalid phone number length - verify format and require valid E.164 format (+[country][number])');\n    }\n    \n    // Rule: Repeated digits (6 or more consecutive) (+30 points)\n    const repeatedPattern = /(\\d)\\1{5,}/;\n    const repeatedMatch = phoneDigits.match(repeatedPattern);\n    if (repeatedMatch) {\n      const repeatedCount = repeatedMatch[0].length;\n      phoneScore += 30;\n      phoneFindings.push(`${repeatedCount} consecutive repeated digits detected`);\n      recommendations.push('🔁 SUSPICIOUS: Repeated digit pattern detected - likely fake number, require verification via SMS OTP');\n    }\n    \n    // Rule: Sequential digits (5 or more) (+25 points)\n    let maxSequential = 0;\n    let sequentialStart = 0;\n    for (let i = 0; i < phoneDigits.length - 1; i++) {\n      let seqCount = 1;\n      for (let j = i + 1; j < phoneDigits.length; j++) {\n        if (parseInt(phoneDigits[j]) === parseInt(phoneDigits[j-1]) + 1) {\n          seqCount++;\n        } else {\n          break;\n        }\n      }\n      if (seqCount > maxSequential) {\n        maxSequential = seqCount;\n        sequentialStart = i;\n      }\n    }\n    \n    if (maxSequential >= 5) {\n      phoneScore += 25;\n      phoneFindings.push(`${maxSequential} sequential digits detected (starting at position ${sequentialStart})`);\n      recommendations.push('📊 SUSPICIOUS: Sequential digit pattern detected - suspicious number, verify via SMS or voice call');\n    }\n    \n    // Rule: Obvious fake patterns (+35 points)\n    const fakePatterns = [\n      { pattern: /^(\\d)\\1+$/, description: 'All same digit' },\n      { pattern: /1234567/, description: 'Sequential pattern (1234567)' },\n      { pattern: /0{7,}/, description: 'Seven or more zeros' },\n      { pattern: /9{7,}/, description: 'Seven or more nines' },\n      { pattern: /5{7,}/, description: 'Seven or more fives' }\n    ];\n    \n    for (const { pattern, description } of fakePatterns) {\n      if (pattern.test(phoneDigits)) {\n        phoneScore += 35;\n        phoneFindings.push(`Obvious fake phone pattern: ${description}`);\n        recommendations.push('🚨 BLOCK: Fake phone number pattern detected - reject submission and flag account for fraud review');\n        break; // Only count once\n      }\n    }\n    \n    // Additional phone checks\n    // Check for test numbers (555 pattern in US)\n    if (phoneDigits.includes('555') && phoneDigits.length === 10) {\n      phoneScore += 20;\n      phoneFindings.push('Test/placeholder phone number pattern (555) detected');\n      recommendations.push('📞 Test number detected - require valid working phone number for verification');\n    }\n    \n    // Check for all same digit in last 7 digits (common fake pattern)\n    const lastSeven = phoneDigits.slice(-7);\n    if (/^(\\d)\\1+$/.test(lastSeven)) {\n      phoneScore += 25;\n      phoneFindings.push('Last 7 digits are all the same (fake pattern)');\n      recommendations.push('🚫 Fake number pattern in subscriber number - require valid phone with SMS verification');\n    }\n  }\n  \n  riskScore += phoneScore;\n  \n  // ===== CAP RISK SCORE AT 100 =====\n  riskScore = Math.min(riskScore, 100);\n  \n  // ===== RISK CLASSIFICATION =====\n  let riskLevel = '';\n  let riskColor = '';\n  let riskEmoji = '';\n  let riskAction = '';\n  \n  if (riskScore >= 0 && riskScore <= 39) {\n    riskLevel = 'Low';\n    riskColor = 'green';\n    riskEmoji = '✅';\n    riskAction = 'PROCEED';\n    if (recommendations.length === 0 || !recommendations.some(r => r.includes('Low risk'))) {\n      recommendations.push('✅ Low risk detected - proceed with standard verification and onboarding process');\n    }\n  } else if (riskScore >= 40 && riskScore <= 69) {\n    riskLevel = 'Medium';\n    riskColor = 'amber';\n    riskEmoji = '⚠️';\n    riskAction = 'REVIEW';\n    recommendations.push('⚠️ MEDIUM RISK: Implement enhanced verification - require email confirmation, SMS OTP, and monitor first transactions');\n  } else if (riskScore >= 70 && riskScore <= 100) {\n    riskLevel = 'High';\n    riskColor = 'red';\n    riskEmoji = '🚨';\n    riskAction = 'BLOCK/MANUAL REVIEW';\n    recommendations.push('🚨 HIGH RISK ALERT: Manual security review required before approval - consider blocking or requiring government ID verification');\n  }\n  \n  // ===== COMPILE ALL FINDINGS =====\n  const allFindings = [\n    ...emailRepFindings,\n    ...emailPatternFindings,\n    ...phoneFindings\n  ];\n  \n  // Add summary finding if no specific issues found\n  if (allFindings.length === 0) {\n    allFindings.push('No significant fraud indicators detected');\n  }\n  \n  // ===== BUILD COMPREHENSIVE OUTPUT =====\n  results.push({\n    json: {\n      // Core identifiers\n      email: email,\n      phone: phone,\n      \n      // Risk assessment\n      riskScore: riskScore,\n      riskLevel: riskLevel,\n      riskColor: riskColor,\n      riskEmoji: riskEmoji,\n      riskAction: riskAction,\n      \n      // Detailed breakdown\n      breakdown: {\n        emailRepScore: emailRepScore,\n        emailPatternScore: emailPatternScore,\n        phoneScore: phoneScore,\n        totalScore: riskScore\n      },\n      \n      // Findings by category\n      findings: allFindings,\n      emailRepFindings: emailRepFindings,\n      emailPatternFindings: emailPatternFindings,\n      phoneFindings: phoneFindings,\n      \n      // Actionable recommendations\n      recommendations: recommendations,\n      \n      // Metadata\n      timestamp: new Date().toISOString(),\n      apiDataAvailable: hasEmailRepData,\n      analysisVersion: '2.0',\n      \n      // Summary statistics\n      totalFindings: allFindings.length,\n      totalRecommendations: recommendations.length,\n      \n      // Pass through original data for downstream nodes\n      originalData: emailRepData\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "a0082a57-abd1-4f4e-872e-16b55231d09a",
      "name": "Comprehensive Risk Analyzer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6400,
        1040
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all(); const formData = $('Fraud Detection Form').first().json; const output = items.map(item => { const d = item.json; const indicators = d.findings || []; const recommendations = d.recommendations || []; return { json: { email: d.email, phone: d.phone, company_name: formData['Company Name (Optional)'] || '', check_purpose: formData['Check Purpose'] || '', riskScore: d.riskScore, riskLevel: d.riskLevel, riskColor: d.riskColor, riskEmoji: d.riskEmoji, explanation: `${d.riskEmoji} ${d.riskLevel} Risk Detected (Score: ${d.riskScore}/100) - ${indicators.length} issue(s) identified.`, indicators, recommendations, indicators_text: indicators.join('; '), recommendations_text: recommendations.join('; '), timestamp: d.timestamp, breakdown: d.breakdown } }; }); return output;"
      },
      "id": "b8d3643e-7411-4df9-89c7-9b557f395f56",
      "name": "Prepare Output Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6176,
        1040
      ]
    },
    {
      "parameters": {
        "operation": "completion",
        "respondWith": "showText",
        "responseText": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Fraud Detection Results - SecureCheck Pro</title>\n    <link rel=\"preconnect\" href=\"https://fonts.googleapis.com\">\n    <link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin>\n    <link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Poppins:wght@400;500;600;700;800;900&display=swap\" rel=\"stylesheet\">\n    <style>\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n\n        :root {\n            --bg-dark-start: #0f0f23;\n            --bg-dark-end: #1a1a3e;\n            --glass-bg: rgba(255, 255, 255, 0.08);\n            --glass-border: rgba(255, 255, 255, 0.18);\n            --text-primary: #ffffff;\n            --text-secondary: rgba(255, 255, 255, 0.7);\n            --text-muted: rgba(255, 255, 255, 0.5);\n            --accent-purple: #8b5cf6;\n            --accent-blue: #3b82f6;\n            --accent-teal: #14b8a6;\n            --accent-orange: #f97316;\n            --accent-pink: #ec4899;\n            --low-risk-start: #14b8a6;\n            --low-risk-end: #10b981;\n            --medium-risk-start: #f59e0b;\n            --medium-risk-end: #f97316;\n            --high-risk-start: #ef4444;\n            --high-risk-end: #ec4899;\n            --shadow-glow: 0 0 40px rgba(139, 92, 246, 0.3);\n        }\n\n        @keyframes fadeInUp {\n            from {\n                opacity: 0;\n                transform: translateY(40px);\n            }\n            to {\n                opacity: 1;\n                transform: translateY(0);\n            }\n        }\n\n        @keyframes fadeIn {\n            from { opacity: 0; }\n            to { opacity: 1; }\n        }\n\n        @keyframes scaleIn {\n            from {\n                opacity: 0;\n                transform: scale(0.8);\n            }\n            to {\n                opacity: 1;\n                transform: scale(1);\n            }\n        }\n\n        @keyframes float {\n            0%, 100% { transform: translateY(0px); }\n            50% { transform: translateY(-20px); }\n        }\n\n        @keyframes pulse {\n            0%, 100% { transform: scale(1); opacity: 1; }\n            50% { transform: scale(1.05); opacity: 0.9; }\n        }\n\n        @keyframes gradientShift {\n            0% { background-position: 0% 50%; }\n            50% { background-position: 100% 50%; }\n            100% { background-position: 0% 50%; }\n        }\n\n        @keyframes borderGlow {\n            0%, 100% { box-shadow: 0 0 20px rgba(139, 92, 246, 0.5); }\n            50% { box-shadow: 0 0 40px rgba(139, 92, 246, 0.8); }\n        }\n\n        @keyframes particleFloat {\n            0% { transform: translateY(0) translateX(0); opacity: 0; }\n            10% { opacity: 1; }\n            90% { opacity: 1; }\n            100% { transform: translateY(-100vh) translateX(50px); opacity: 0; }\n        }\n\n        body {\n            font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;\n            background: linear-gradient(135deg, var(--bg-dark-start) 0%, var(--bg-dark-end) 100%);\n            min-height: 100vh;\n            color: var(--text-primary);\n            padding: 40px 20px;\n            position: relative;\n            overflow-x: hidden;\n        }\n\n        body::before {\n            content: '';\n            position: fixed;\n            top: 0;\n            left: 0;\n            width: 100%;\n            height: 100%;\n            background: radial-gradient(circle at 20% 50%, rgba(139, 92, 246, 0.15) 0%, transparent 50%),\n                        radial-gradient(circle at 80% 80%, rgba(59, 130, 246, 0.15) 0%, transparent 50%);\n            pointer-events: none;\n            z-index: 0;\n        }\n\n        .particles {\n            position: fixed;\n            top: 0;\n            left: 0;\n            width: 100%;\n            height: 100%;\n            overflow: hidden;\n            pointer-events: none;\n            z-index: 1;\n        }\n\n        .particle {\n            position: absolute;\n            width: 4px;\n            height: 4px;\n            background: rgba(139, 92, 246, 0.6);\n            border-radius: 50%;\n            animation: particleFloat 15s infinite;\n        }\n\n        .particle:nth-child(1) { left: 10%; animation-delay: 0s; }\n        .particle:nth-child(2) { left: 20%; animation-delay: 2s; background: rgba(59, 130, 246, 0.6); }\n        .particle:nth-child(3) { left: 30%; animation-delay: 4s; }\n        .particle:nth-child(4) { left: 40%; animation-delay: 6s; background: rgba(20, 184, 166, 0.6); }\n        .particle:nth-child(5) { left: 50%; animation-delay: 8s; }\n        .particle:nth-child(6) { left: 60%; animation-delay: 10s; background: rgba(59, 130, 246, 0.6); }\n        .particle:nth-child(7) { left: 70%; animation-delay: 12s; }\n        .particle:nth-child(8) { left: 80%; animation-delay: 14s; background: rgba(139, 92, 246, 0.6); }\n        .particle:nth-child(9) { left: 90%; animation-delay: 1s; }\n        .particle:nth-child(10) { left: 15%; animation-delay: 3s; background: rgba(20, 184, 166, 0.6); }\n\n        .container {\n            max-width: 1200px;\n            margin: 0 auto;\n            position: relative;\n            z-index: 2;\n            animation: fadeIn 0.8s ease-out;\n        }\n\n        .header {\n            text-align: center;\n            margin-bottom: 60px;\n            animation: fadeInUp 0.6s ease-out;\n        }\n\n        .header h1 {\n            font-family: 'Poppins', sans-serif;\n            font-size: 3.5rem;\n            font-weight: 900;\n            background: linear-gradient(135deg, #8b5cf6 0%, #3b82f6 50%, #14b8a6 100%);\n            background-size: 200% 200%;\n            -webkit-background-clip: text;\n            -webkit-text-fill-color: transparent;\n            background-clip: text;\n            margin-bottom: 15px;\n            animation: gradientShift 5s ease infinite;\n        }\n\n        .header p {\n            font-size: 1.2rem;\n            color: var(--text-secondary);\n            font-weight: 500;\n        }\n\n        .glass-card {\n            background: var(--glass-bg);\n            backdrop-filter: blur(20px);\n            -webkit-backdrop-filter: blur(20px);\n            border: 1px solid var(--glass-border);\n            border-radius: 24px;\n            padding: 40px;\n            margin-bottom: 30px;\n            box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);\n            transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);\n            animation: fadeInUp 0.8s ease-out;\n            animation-fill-mode: both;\n        }\n\n        .glass-card:hover {\n            transform: translateY(-8px) scale(1.01);\n            box-shadow: 0 16px 48px rgba(0, 0, 0, 0.4), var(--shadow-glow);\n            border-color: rgba(255, 255, 255, 0.3);\n        }\n\n        .glass-card:nth-child(2) { animation-delay: 0.1s; }\n        .glass-card:nth-child(3) { animation-delay: 0.2s; }\n        .glass-card:nth-child(4) { animation-delay: 0.3s; }\n        .glass-card:nth-child(5) { animation-delay: 0.4s; }\n        .glass-card:nth-child(6) { animation-delay: 0.5s; }\n\n        .risk-score-container {\n            display: flex;\n            justify-content: center;\n            align-items: center;\n            margin-bottom: 40px;\n            animation: scaleIn 1s ease-out;\n        }\n\n        .risk-badge {\n            position: relative;\n            width: 280px;\n            height: 280px;\n            display: flex;\n            flex-direction: column;\n            align-items: center;\n            justify-content: center;\n            border-radius: 50%;\n            background: linear-gradient(135deg, var(--accent-purple) 0%, var(--accent-blue) 100%);\n            box-shadow: 0 20px 60px rgba(139, 92, 246, 0.5), 0 0 80px rgba(139, 92, 246, 0.3);\n            animation: float 6s ease-in-out infinite, borderGlow 3s ease-in-out infinite;\n            transition: all 0.4s ease;\n        }\n\n        .risk-badge.low {\n            background: linear-gradient(135deg, var(--low-risk-start) 0%, var(--low-risk-end) 100%);\n            box-shadow: 0 20px 60px rgba(20, 184, 166, 0.5), 0 0 80px rgba(20, 184, 166, 0.3);\n        }\n\n        .risk-badge.medium {\n            background: linear-gradient(135deg, var(--medium-risk-start) 0%, var(--medium-risk-end) 100%);\n            box-shadow: 0 20px 60px rgba(249, 115, 22, 0.5), 0 0 80px rgba(249, 115, 22, 0.3);\n        }\n\n        .risk-badge.high {\n            background: linear-gradient(135deg, var(--high-risk-start) 0%, var(--high-risk-end) 100%);\n            box-shadow: 0 20px 60px rgba(239, 68, 68, 0.5), 0 0 80px rgba(239, 68, 68, 0.3);\n        }\n\n        .risk-badge:hover {\n            transform: scale(1.1) rotate(5deg);\n        }\n\n        .risk-badge::before {\n            content: '';\n            position: absolute;\n            inset: -4px;\n            border-radius: 50%;\n            background: linear-gradient(135deg, rgba(255,255,255,0.3), transparent);\n            z-index: -1;\n        }\n\n        .risk-score {\n            font-family: 'Poppins', sans-serif;\n            font-size: 5rem;\n            font-weight: 900;\n            line-height: 1;\n            text-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);\n        }\n\n        .risk-label {\n            font-size: 1.3rem;\n            font-weight: 700;\n            text-transform: uppercase;\n            letter-spacing: 3px;\n            margin-top: 10px;\n            opacity: 0.95;\n        }\n\n        .alert-banner {\n            padding: 24px 32px;\n            border-radius: 16px;\n            margin-bottom: 30px;\n            font-weight: 600;\n            font-size: 1.1rem;\n            border-left: 6px solid;\n            animation: fadeInUp 1s ease-out;\n            transition: all 0.3s ease;\n        }\n\n        .alert-banner:hover {\n            transform: translateX(8px);\n        }\n\n        .alert-banner.low {\n            background: linear-gradient(135deg, rgba(20, 184, 166, 0.15) 0%, rgba(16, 185, 129, 0.15) 100%);\n            border-left-color: var(--low-risk-start);\n            color: #6ee7b7;\n        }\n\n        .alert-banner.medium {\n            background: linear-gradient(135deg, rgba(245, 158, 11, 0.15) 0%, rgba(249, 115, 22, 0.15) 100%);\n            border-left-color: var(--medium-risk-start);\n            color: #fbbf24;\n        }\n\n        .alert-banner.high {\n            background: linear-gradient(135deg, rgba(239, 68, 68, 0.15) 0%, rgba(236, 72, 153, 0.15) 100%);\n            border-left-color: var(--high-risk-start);\n            color: #fca5a5;\n        }\n\n        .section-title {\n            font-family: 'Poppins', sans-serif;\n            font-size: 2rem;\n            font-weight: 700;\n            margin-bottom: 30px;\n            display: flex;\n            align-items: center;\n            gap: 12px;\n        }\n\n        .section-title::before {\n            content: '';\n            width: 6px;\n            height: 40px;\n            background: linear-gradient(135deg, var(--accent-purple), var(--accent-blue));\n            border-radius: 3px;\n        }\n\n        .contact-grid {\n            display: grid;\n            grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));\n            gap: 20px;\n            margin-top: 20px;\n        }\n\n        .contact-item {\n            background: rgba(255, 255, 255, 0.05);\n            padding: 24px;\n            border-radius: 16px;\n            border: 1px solid rgba(255, 255, 255, 0.1);\n            transition: all 0.3s ease;\n            position: relative;\n            overflow: hidden;\n        }\n\n        .contact-item::before {\n            content: '';\n            position: absolute;\n            top: 0;\n            left: 0;\n            width: 100%;\n            height: 4px;\n            background: linear-gradient(90deg, var(--accent-purple), var(--accent-blue), var(--accent-teal));\n            transform: scaleX(0);\n            transition: transform 0.3s ease;\n        }\n\n        .contact-item:hover {\n            transform: translateY(-4px);\n            background: rgba(255, 255, 255, 0.08);\n            border-color: rgba(255, 255, 255, 0.2);\n        }\n\n        .contact-item:hover::before {\n            transform: scaleX(1);\n        }\n\n        .contact-label {\n            font-size: 0.85rem;\n            text-transform: uppercase;\n            letter-spacing: 1.5px;\n            color: var(--text-muted);\n            margin-bottom: 8px;\n            font-weight: 600;\n        }\n\n        .contact-value {\n            font-size: 1.2rem;\n            font-weight: 600;\n            color: var(--text-primary);\n            word-break: break-all;\n        }\n\n        .indicators-list {\n            list-style: none;\n            padding: 0;\n            display: grid;\n            gap: 16px;\n        }\n\n        .indicator-item {\n            background: rgba(255, 255, 255, 0.05);\n            padding: 20px;\n            border-radius: 12px;\n            border-left: 4px solid var(--accent-orange);\n            display: flex;\n            align-items: center;\n            gap: 16px;\n            transition: all 0.3s ease;\n            animation: fadeInUp 1.2s ease-out;\n            animation-fill-mode: both;\n        }\n\n        .indicator-item:nth-child(1) { animation-delay: 0.1s; }\n        .indicator-item:nth-child(2) { animation-delay: 0.2s; }\n        .indicator-item:nth-child(3) { animation-delay: 0.3s; }\n        .indicator-item:nth-child(4) { animation-delay: 0.4s; }\n        .indicator-item:nth-child(5) { animation-delay: 0.5s; }\n\n        .indicator-item:hover {\n            transform: translateX(8px);\n            background: rgba(255, 255, 255, 0.08);\n        }\n\n        .indicator-icon {\n            font-size: 1.5rem;\n            flex-shrink: 0;\n        }\n\n        .indicator-text {\n            flex: 1;\n            font-size: 1rem;\n            line-height: 1.6;\n            color: var(--text-secondary);\n        }\n\n        .recommendations-list {\n            display: grid;\n            gap: 20px;\n            counter-reset: recommendation;\n        }\n\n        .recommendation-item {\n            background: rgba(255, 255, 255, 0.05);\n            padding: 24px;\n            padding-left: 70px;\n            border-radius: 12px;\n            border: 1px solid rgba(255, 255, 255, 0.1);\n            position: relative;\n            transition: all 0.3s ease;\n            animation: fadeInUp 1.4s ease-out;\n            animation-fill-mode: both;\n        }\n\n        .recommendation-item:nth-child(1) { animation-delay: 0.1s; }\n        .recommendation-item:nth-child(2) { animation-delay: 0.2s; }\n        .recommendation-item:nth-child(3) { animation-delay: 0.3s; }\n        .recommendation-item:nth-child(4) { animation-delay: 0.4s; }\n        .recommendation-item:nth-child(5) { animation-delay: 0.5s; }\n\n        .recommendation-item::before {\n            counter-increment: recommendation;\n            content: counter(recommendation);\n            position: absolute;\n            left: 20px;\n            top: 50%;\n            transform: translateY(-50%);\n            width: 40px;\n            height: 40px;\n            background: linear-gradient(135deg, var(--accent-purple), var(--accent-blue));\n            border-radius: 50%;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            font-weight: 800;\n            font-size: 1.1rem;\n            box-shadow: 0 4px 12px rgba(139, 92, 246, 0.4);\n        }\n\n        .recommendation-item:hover {\n            transform: translateX(8px);\n            background: rgba(255, 255, 255, 0.08);\n            border-color: rgba(255, 255, 255, 0.2);\n        }\n\n        .recommendation-text {\n            font-size: 1rem;\n            line-height: 1.7;\n            color: var(--text-secondary);\n        }\n\n        .footer {\n            text-align: center;\n            padding: 40px;\n            background: var(--glass-bg);\n            backdrop-filter: blur(20px);\n            border: 1px solid var(--glass-border);\n            border-radius: 24px;\n            margin-top: 40px;\n            animation: fadeInUp 1.6s ease-out;\n        }\n\n        .timestamp {\n            color: var(--text-muted);\n            font-size: 0.95rem;\n            margin-bottom: 30px;\n            font-weight: 500;\n        }\n\n        .button-group {\n            display: flex;\n            gap: 20px;\n            justify-content: center;\n            flex-wrap: wrap;\n        }\n\n        .btn {\n            padding: 16px 40px;\n            border: none;\n            border-radius: 12px;\n            font-weight: 700;\n            font-size: 1rem;\n            cursor: pointer;\n            transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);\n            font-family: 'Inter', sans-serif;\n            text-decoration: none;\n            display: inline-flex;\n            align-items: center;\n            gap: 10px;\n            position: relative;\n            overflow: hidden;\n        }\n\n        .btn::before {\n            content: '';\n            position: absolute;\n            top: 50%;\n            left: 50%;\n            width: 0;\n            height: 0;\n            border-radius: 50%;\n            background: rgba(255, 255, 255, 0.2);\n            transform: translate(-50%, -50%);\n            transition: width 0.6s, height 0.6s;\n        }\n\n        .btn:hover::before {\n            width: 300px;\n            height: 300px;\n        }\n\n        .btn-primary {\n            background: linear-gradient(135deg, var(--accent-purple) 0%, var(--accent-blue) 100%);\n            color: white;\n            box-shadow: 0 8px 24px rgba(139, 92, 246, 0.4);\n        }\n\n        .btn-primary:hover {\n            transform: translateY(-4px) scale(1.05);\n            box-shadow: 0 12px 32px rgba(139, 92, 246, 0.6);\n        }\n\n        .btn-secondary {\n            background: rgba(255, 255, 255, 0.1);\n            color: white;\n            border: 2px solid rgba(255, 255, 255, 0.3);\n            backdrop-filter: blur(10px);\n        }\n\n        .btn-secondary:hover {\n            background: rgba(255, 255, 255, 0.15);\n            border-color: rgba(255, 255, 255, 0.5);\n            transform: translateY(-4px) scale(1.05);\n        }\n\n        @media (max-width: 768px) {\n            body {\n                padding: 20px 15px;\n            }\n\n            .header h1 {\n                font-size: 2.5rem;\n            }\n\n            .header p {\n                font-size: 1rem;\n            }\n\n            .glass-card {\n                padding: 24px;\n            }\n\n            .risk-badge {\n                width: 220px;\n                height: 220px;\n            }\n\n            .risk-score {\n                font-size: 3.5rem;\n            }\n\n            .risk-label {\n                font-size: 1rem;\n            }\n\n            .section-title {\n                font-size: 1.5rem;\n            }\n\n            .contact-grid {\n                grid-template-columns: 1fr;\n            }\n\n            .button-group {\n                flex-direction: column;\n            }\n\n            .btn {\n                width: 100%;\n                justify-content: center;\n            }\n        }\n\n        @media print {\n            body {\n                background: white;\n                color: black;\n            }\n\n            .particles,\n            body::before,\n            .button-group {\n                display: none;\n            }\n\n            .glass-card {\n                background: white;\n                border: 1px solid #ddd;\n                box-shadow: none;\n                page-break-inside: avoid;\n            }\n\n            .risk-badge {\n                box-shadow: none;\n            }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"particles\">\n        <div class=\"particle\"></div>\n        <div class=\"particle\"></div>\n        <div class=\"particle\"></div>\n        <div class=\"particle\"></div>\n        <div class=\"particle\"></div>\n        <div class=\"particle\"></div>\n        <div class=\"particle\"></div>\n        <div class=\"particle\"></div>\n        <div class=\"particle\"></div>\n        <div class=\"particle\"></div>\n    </div>\n\n    <div class=\"container\">\n        <div class=\"header\">\n            <h1>🛡️ Fraud Detection Results</h1>\n            <p>Advanced AI-Powered Security Analysis</p>\n        </div>\n\n        <div class=\"risk-score-container\">\n            <div class=\"risk-badge {{ $json.riskLevel.toLowerCase() }}\">\n                <div class=\"risk-score\">{{ $json.riskScore }}</div>\n                <div class=\"risk-label\">{{ $json.riskEmoji }} {{ $json.riskLevel }}</div>\n            </div>\n        </div>\n\n        <div class=\"alert-banner {{ $json.riskLevel.toLowerCase() }}\">\n            {{ $json.explanation }}\n        </div>\n\n        <div class=\"glass-card\">\n            <h2 class=\"section-title\">📋 Contact Information</h2>\n            <div class=\"contact-grid\">\n                <div class=\"contact-item\">\n                    <div class=\"contact-label\">Email Address</div>\n                    <div class=\"contact-value\">{{ $json.email }}</div>\n                </div>\n                <div class=\"contact-item\">\n                    <div class=\"contact-label\">Phone Number</div>\n                    <div class=\"contact-value\">{{ $json.phone }}</div>\n                </div>\n                <div class=\"contact-item\">\n                    <div class=\"contact-label\">Company Name</div>\n                    <div class=\"contact-value\">{{ $json.company_name || 'Not provided' }}</div>\n                </div>\n                <div class=\"contact-item\">\n                    <div class=\"contact-label\">Check Purpose</div>\n                    <div class=\"contact-value\">{{ $json.check_purpose }}</div>\n                </div>\n            </div>\n        </div>\n\n        <div class=\"glass-card\">\n            <h2 class=\"section-title\">⚠️ Risk Indicators ({{ $json.indicators.length }})</h2>\n            <ul class=\"indicators-list\">\n                {{ $json.indicators.map(indicator => `<li class=\"indicator-item\"><span class=\"indicator-icon\">🔴</span><span class=\"indicator-text\">${indicator}</span></li>`).join('') }}\n            </ul>\n        </div>\n\n        <div class=\"glass-card\">\n            <h2 class=\"section-title\">💡 Security Recommendations</h2>\n            <div class=\"recommendations-list\">\n                {{ $json.recommendations.map(rec => `<div class=\"recommendation-item\"><div class=\"recommendation-text\">${rec}</div></div>`).join('') }}\n            </div>\n        </div>\n\n        <div class=\"footer\">\n            <div class=\"timestamp\">\n                📅 Analysis completed: <strong>{{ new Date($json.timestamp).toLocaleString('en-US', { dateStyle: 'full', timeStyle: 'short' }) }}</strong>\n            </div>\n            <div class=\"button-group\">\n                <button class=\"btn btn-primary\" onclick=\"window.location.href = window.location.origin + window.location.pathname\">\n                    <span>🔍</span>\n                    <span>Analyze Another Contact</span>\n                </button>\n                <button class=\"btn btn-secondary\" onclick=\"window.print()\">\n                    <span>🖨️</span>\n                    <span>Print Report</span>\n                </button>\n            </div>\n        </div>\n    </div>\n</body>\n</html>"
      },
      "id": "b6bed4d0-64a2-4182-b832-f60e798c8492",
      "name": "Show Results Page",
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        -5952,
        944
      ],
      "webhookId": "75473f68-f91c-49ad-b847-071af152fe61"
    },
    {
      "parameters": {
        "jsCode": "// Get all input items from the previous node\nconst items = $input.all();\n\n// Process each fraud check result\nfor (const item of items) {\n  const data = item.json;\n  \n  // Format timestamp\n  const timestamp = new Date(data.timestamp).toLocaleString();\n  \n  // Create colorful console output\n  console.log('\\n' + '='.repeat(80));\n  console.log('🛡️  FRAUD DETECTION LOG ENTRY');\n  console.log('='.repeat(80));\n  console.log(`⏰ Timestamp: ${timestamp}`);\n  console.log(`📧 Email: ${data.email}`);\n  console.log(`📱 Phone: ${data.phone}`);\n  if (data.company_name) {\n    console.log(`🏢 Company: ${data.company_name}`);\n  }\n  console.log(`🎯 Check Purpose: ${data.check_purpose}`);\n  console.log('\\n' + '-'.repeat(80));\n  console.log(`${data.riskEmoji} RISK ASSESSMENT`);\n  console.log('-'.repeat(80));\n  console.log(`Risk Score: ${data.riskScore}/100`);\n  console.log(`Risk Level: ${data.riskLevel}`);\n  console.log(`Risk Action: ${data.riskColor}`);\n  \n  // Breakdown scores\n  if (data.breakdown) {\n    console.log('\\n📊 Score Breakdown:');\n    console.log(`  • EmailRep Score: ${data.breakdown.emailRepScore}`);\n    console.log(`  • Email Pattern Score: ${data.breakdown.emailPatternScore}`);\n    console.log(`  • Phone Score: ${data.breakdown.phoneScore}`);\n    console.log(`  • Total Score: ${data.breakdown.totalScore}`);\n  }\n  \n  // Indicators\n  console.log('\\n⚠️  Risk Indicators (' + data.indicators.length + '):');\n  if (data.indicators.length > 0) {\n    data.indicators.forEach((indicator, index) => {\n      console.log(`  ${index + 1}. ${indicator}`);\n    });\n  } else {\n    console.log('  ✅ No risk indicators found');\n  }\n  \n  // Recommendations\n  console.log('\\n💡 Recommendations (' + data.recommendations.length + '):');\n  if (data.recommendations.length > 0) {\n    data.recommendations.forEach((rec, index) => {\n      console.log(`  ${index + 1}. ${rec}`);\n    });\n  } else {\n    console.log('  ✅ No specific recommendations');\n  }\n  \n  console.log('\\n' + '='.repeat(80) + '\\n');\n  \n  // Create CSV-formatted log entry\n  const csvTimestamp = new Date(data.timestamp).toISOString();\n  const csvEmail = `\"${data.email}\"`;\n  const csvPhone = `\"${data.phone}\"`;\n  const csvCompany = `\"${data.company_name || ''}\"`;\n  const csvPurpose = `\"${data.check_purpose}\"`;\n  const csvIndicators = `\"${data.indicators.join('; ')}\"`;\n  const csvRecommendations = `\"${data.recommendations.join('; ')}\"`;\n  \n  const csvEntry = `${csvTimestamp},${csvEmail},${csvPhone},${csvCompany},${csvPurpose},${data.riskScore},${data.riskLevel},${csvIndicators},${csvRecommendations}`;\n  \n  console.log('📄 CSV Export Format:');\n  console.log('Timestamp,Email,Phone,Company,Purpose,RiskScore,RiskLevel,Indicators,Recommendations');\n  console.log(csvEntry);\n  console.log('\\n');\n}\n\n// Return the items unchanged for further processing\nreturn items;"
      },
      "id": "acb75fc6-af14-4d61-96ff-a15eadbd651a",
      "name": "Log to Console & File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5952,
        1136
      ]
    },
    {
      "parameters": {
        "url": "https://accounts.google.com/o/oauth2/v2/auth{{ $json.email }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "16c022a3-8f86-4961-8ba7-4ea2fd00b518",
      "name": "Call EmailRep API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -6624,
        1040
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "jI8fvNNLIqa7F5zQ",
          "name": "OAuth2 Credential"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Fraud Detection Form": {
      "main": [
        [
          {
            "node": "Sanitize and Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comprehensive Risk Analyzer": {
      "main": [
        [
          {
            "node": "Prepare Output Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Output Data": {
      "main": [
        [
          {
            "node": "Show Results Page",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log to Console & File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanitize and Validate Input": {
      "main": [
        [
          {
            "node": "Call EmailRep API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call EmailRep API": {
      "main": [
        [
          {
            "node": "Comprehensive Risk Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9d7b02b4-3bd5-4be8-8650-ababfcd54d96",
  "meta": {
    "instanceId": "9f771fabc0b9384b5fd79d1ea821f6301434547999a2299d86fef9d8f958642f"
  },
  "id": "bq0A56FNytgFIl1T",
  "tags": []
}